---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Ajustes Generales">
  <MainDashboard title="Ajustes Generales" h1="Ajustes Generales">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Aquí podrás configurar los ajustes generales de la aplicación.</h2>
      <p>Contenido de los ajustes generales.</p>
    </div>
  </MainDashboard>
</LayoutDash>