---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Plantillas de Certificados">
  <MainDashboard title="Plantillas de Certificados" h1="Plantillas de Certificados">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Configuración de Plantillas de Certificados</h2>
      <p>Aquí podrás definir plantillas para los certificados médicos.</p>
    </div>
  </MainDashboard>
</LayoutDash>