---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Plantillas de Órdenes de Estudio">
  <MainDashboard title="Plantillas de Órdenes de Estudio" h1="Plantillas de Órdenes de Estudio">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Configuración de Plantillas de Órdenes de Estudio</h2>
      <p>Aquí podrás definir plantillas para las órdenes de estudio.</p>
    </div>
  </MainDashboard>
</LayoutDash>