---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Plantillas de Recetas">
  <MainDashboard title="Plantillas de Recetas" h1="Plantillas de Recetas">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Configuración de Plantillas de Recetas</h2>
      <p>Aquí podrás definir plantillas para las recetas médicas.</p>
    </div>
  </MainDashboard>
</LayoutDash>