---
import ArchivosAdjuntosPaciente from '@/components/organismo/ArchivosAdjuntosPaciente.astro';
import Button1 from '../../../../components/atomos/Button1.astro';
import Div1Atencion from '../../../../components/atomos/Div1Atencion.astro';
import DivBox1 from '../../../../components/atomos/DivBox1.astro';
import MainDashboard from '../../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../../components/layouts/LayoutDash.astro';
import ContenedorCharts from '../../../../components/moleculas/ContenedorCharts.astro';
import Antecedentes from '../../../../components/organismo/Antecedentes.astro';
import HistorialVisitaPaciente from '../../../../components/organismo/HistorialVisitaPaciente.astro';
import MedicacionFichaPaciente from '../../../../components/organismo/MedicacionFichaPaciente.astro';
import NotasMedicas from '../../../../components/organismo/NotasMedicas.astro';
import PacienteHeader from './components/PacienteHeader.astro';

const { pacienteId } = Astro.params;
const { session, user } = Astro.locals;

// console.log(pacienteData);
---

<LayoutDash>
  <MainDashboard h1="Ficha del paciente" pacienteId={pacienteId}>
    <div class="container py-4 gap-2 px-2 flex flex-col w- w-[97%]">
      <PacienteHeader />
      <!-- <ContenedoresProgresoHistorial client:load/> -->
      <DivBox1 class="w-full text-primary-texto">
        <details class="w-full tex-center flex items-center justify-center">
          <summary
            class="px-2 py-0 bg-primary-bacSidebar shadow- shadow-primary-100 cursor-pointer w-full text-sm font-semibold text-center flex items-center justify-between"
            ><p>Pogresos</p><Button1>ver más</Button1></summary
          >
          <ContenedorCharts />
        </details>
      </DivBox1>
      <div class="flex w-full items-start justify-normal gap-4">
        <Div1Atencion>
          <DivBox1>
            <Antecedentes antecedentes={[]} />
          </DivBox1>
          <HistorialVisitaPaciente colorMap={[]} visitas={[]} />
        </Div1Atencion>
        <Div1Atencion>
          <MedicacionFichaPaciente colorMap={[]} medicacion={[]} />
          <ArchivosAdjuntosPaciente documentos={[]} />
          <NotasMedicas userId={user?.id} notes={[]} />
        </Div1Atencion>
      </div>
    </div>
  </MainDashboard>
</LayoutDash>
<script>
  import { fetchPacientePerfil } from '@/context/store';
  const idPaciente = document.getElementById('mainDashboard')?.dataset.pasisisi;
  fetchPacientePerfil(idPaciente);
</script>
