---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Aranceles">
  <MainDashboard title="Aranceles" h1="Aranceles">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Configuración de Aranceles</h2>
      <p>Aquí podrás definir los aranceles de las prestaciones.</p>
    </div>
  </MainDashboard>
</LayoutDash>