---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Ajustes de Notificaciones">
  <MainDashboard title="Ajustes de Notificaciones" h1="Ajustes de Notificaciones">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Aquí podrás configurar las notificaciones de la aplicación.</h2>
      <p>Contenido de los ajustes de notificaciones.</p>
    </div>
  </MainDashboard>
</LayoutDash>