---
import Layout from "../../../../layouts/Layout.astro";
import SalaEspera from "./components/SalaEspera";

const {userId} = Astro.params
---

<Layout>
<div class="bg-primary-bg-componentes flex items-center justify-center w-full">

    <SalaEspera userId={userId} client:load/>
</div>
</Layout>