---
import Layout from "../../../../layouts/Layout.astro";
import SalaEspera from "./components/SalaEspera";

---

<Layout>
    <h1>esta en la parte de la o el secretario/a</h1>
<div class="bg-primary-bg-componentes flex items-center justify-center w-full">

    <SalaEspera client:load/>
</div>
</Layout>