---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Gestión de Usuarios">
  <MainDashboard title="Gestión de Usuarios" h1="Gestión de Usuarios">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Aquí podrás gestionar los usuarios del sistema.</h2>
      <p>Contenido de la gestión de usuarios.</p>
    </div>
  </MainDashboard>
</LayoutDash>