---
import Loader from '../../utils/loader/Loader.astro';
import NavDash from '../organismo/NavDash.astro';
import SidebarV3 from '../organismo/SidebarV3.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" theme="white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-r flex from-primary-bg-componentes via-primary-bg-componentes to-primary-bg-componentes-2 text-primary-texto relative overflow-x-hidden"
  >
    <SidebarV3 />
    <Loader />

    <!-- Contenido Principal -->
    <main class="w-full transition-all duration-300 ease-in-out">
      <NavDash title={title} />
      <slot />
    </main>
  </body>
</html>

<script>
  document.addEventListener('keydown', (event) => {
    // Check for Ctrl+K on Windows/Linux or Cmd+K on macOS
    if ((event.ctrlKey || event.metaKey) && event.key === 'k') {
      event.preventDefault(); // Prevent default browser action (e.g., search)
      const searchInput = document.getElementById('global-search-input');
      searchInput?.focus();
    }
  });
</script>

<style is:global>
  /* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */

  @font-face {
    font-family: 'IndieFlower';
    src: url('/font/IndieFlower-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>