---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Campos Personalizados HC">
  <MainDashboard title="Campos Personalizados HC" h1="Campos Personalizados HC">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Configuración de Campos Personalizados de Historia Clínica</h2>
      <p>Aquí podrás definir campos adicionales para la historia clínica.</p>
    </div>
  </MainDashboard>
</LayoutDash>