---
import FormularioDeBusqueda from "../../../../components/organismo/FormularioDeBusqueda";
import Button2 from "../../../../components/atomos/Button2.astro";
import { DiamondPlus, Search, SearchCode, SearchSlash } from "lucide-react";
import Etiquetas from "../../../../components/atomos/Etiquetas.astro";
import ContenedeorModal from "../../../../components/organismo/ContenedeorModal.astro";
import Button1 from "../../../../components/atomos/Button1.astro";
import FormularioPaciente from "../../pacientes/FormularioPaciente.astro";
const {arrayPacientes}=Astro.props
---

<div class="mb-4 w-full flex items-center gap-2 justify-center bg">
  <Etiquetas><DiamondPlus className="w-4 inline-block mr-4"/> Nueva Consulta</Etiquetas>
  <div class="w-2/3">
    <FormularioDeBusqueda pacientes={arrayPacientes}  placeholder={`Busqueda de pacientes...`}  client:load/>

  </div>
  
  <ContenedeorModal open="Crear Paciente" id="modal-PacienteDashboard">
    <FormularioPaciente user={{id:"sakflsdk" }}/>
  </ContenedeorModal>
</div>
