---
import DivBox1 from '@/components/atomos/DivBox1.astro';

const { atencionTurnoManana, atencionTurnoTarde } = Astro.props;
---

<DivBox1 styleDiv="w-full h-28">
  <div class="flex w-full items-center justify-between"></div>
</DivBox1>
