---
import MainDashboard from '../../../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../../../components/layouts/LayoutDash.astro';
import IndexAtencionV2 from './IndexAtencionV2.astro';

const { pacienteId, atencionId } = Astro.params as { pacienteId: string; atencionId: string };
const { user, session } = Astro.locals;

// 1. Seguridad: Validar sesión
if (!session || !user) {
  return Astro.redirect('/login');
}

let errorData: { msg: string } | null = null;
---

<LayoutDash title={`Atención`}>
  <MainDashboard h1={`Atención`}>
    {
      !errorData ? (
        <IndexAtencionV2 />
      ) : (
        <div class="w-screen h-screen flex items-center justify-center text-primary-textoTitle text-xl font-bold -translate-y-10">
          {errorData.msg}
        </div>
      )
    }
  </MainDashboard>
</LayoutDash>
