---
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import ContenedeorModal from "../../../../../components/organismo/ContenedeorModal.astro";
import FormularioDiagnosticos from "../../../../../components/organismo/FormularioDiagnosticos.astro";
import ContenedorTabla from "./ContenedorTabla.astro";

const { isExistDiagnosticos } = Astro.props;
---

<ContenedorTitleBotonera>
  <h2 class="text-lg font-semibold">Diagnostico</h2>
  <div>
    <ContenedeorModal open="Agregar" id="dialogDiagnostico">
      <FormularioDiagnosticos />
      <!-- <DiagnosticosContenedor client:load  isExistDiagnosticos={isExistDiagnosticos}/> -->
    </ContenedeorModal>
  </div>

</ContenedorTitleBotonera>

  <ContenedorTabla isExistDiagnosticos={isExistDiagnosticos} />
