---
import ContenedorTitleBotonera from '../../../../../components/atomos/ContenedorTitleBotonera.astro';
import H2 from '../../../../../components/atomos/H2.astro';
import ContenedeorModal from '../../../../../components/organismo/ContenedeorModal.astro';
import FormularioDiagnosticos from '../../../../../components/organismo/FormularioDiagnosticos.astro';
import ContenedorTabla from './ContenedorTabla.astro';

const { isExistDiagnosticos } = Astro.props;
---

<ContenedorTitleBotonera>
  <H2>Diagnostico</H2>
  <div>
    <ContenedeorModal open="Agregar" id="dialogDiagnostico">
      <FormularioDiagnosticos />
      <!-- <DiagnosticosContenedor client:load  isExistDiagnosticos={isExistDiagnosticos}/> -->
    </ContenedeorModal>
  </div>
</ContenedorTitleBotonera>

<ContenedorTabla isExistDiagnosticos={isExistDiagnosticos} />

<script>
  import { dataFormularioContexto } from '../../../../../context/store';

  const btnModal = document.getElementById(`dialogDiagnostico`);
  const modal = document.getElementById(`modal-dialogDiagnostico`);
  btnModal?.addEventListener('click', e => {
    dataFormularioContexto.set({});
    modal.showModal();
    // e.showModal()
  });
</script>
