---
import Button1 from "../../../../../components/atomos/Button1.astro";
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import ContenedorAtencion from "../../../../../components/moleculas/ContenedorAtencion.astro";
import ContenedeorModal from "../../../../../components/organismo/ContenedeorModal.astro";
import DiagnosticosContenedor from "../../../../../components/organismo/DiagnosticosContenedor";
import FormularioDiagnosticos from "../../../../../components/organismo/FormularioDiagnosticos.astro";
import ConfeccionTablaDiagnostico from "./ConfeccionTablaDiagnostico.astro";

const { isExistDiagnosticos } = Astro.props;
---

<ContenedorTitleBotonera>
  <h2 class="text-lg font-semibold">Diagnostico</h2>
  <div>
    <ContenedeorModal open="Agregar">
      <FormularioDiagnosticos />
      <!-- <DiagnosticosContenedor client:load  isExistDiagnosticos={isExistDiagnosticos}/> -->
    </ContenedeorModal>
  </div>
</ContenedorTitleBotonera>

<ConfeccionTablaDiagnostico />
