---
import NavAtencionMedicaV2 from '@/components/organismo/NavAtencionMedicaV2.astro';
import Contenedor from './componenteAtencionV2/Contenedor.tsx';
const { pacienteData } = Astro.props;
---

<div class="p-4 gap-2 flex flex-col w-full" id="containerAtencion">
  <NavAtencionMedicaV2 pacienteData={pacienteData} />

  <div>
    <Contenedor client:load dataPacienteDB={pacienteData} />
  </div>
</div>
