---
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import H2 from "../../../../../components/atomos/H2.astro";
import MedicamentosAtencion from "../../../../../components/organismo/MedicamentosAtencion";
import ConfeccionTablaMedicamentos from "./ConfeccionTablaMedicamentos";
import ModalMedicamentos from "./ModalMedicamentos.astro";

const { dataIds, isExistMedicamentos } = Astro.props;
---

<ContenedorTitleBotonera>
  <H2>Medicamentos</H2>
<ModalMedicamentos>
  <MedicamentosAtencion  client:load/>
</ModalMedicamentos>
</ContenedorTitleBotonera>
<ConfeccionTablaMedicamentos isExistMedicamentos={isExistMedicamentos}  client:load/>

<script>
  import {
    atencion,
    dataFormularioContexto,
  } from "../../../../../context/store";
  import { showToast } from "../../../../../utils/toast/toastShow";
  const btnModal = document.getElementById("modal-medicamentos");

  btnModal?.addEventListener("click", () => {
    const modal = document.getElementById(`dialog-modal-medicamentos`);
    dataFormularioContexto.set({});
    modal.showModal();
    // e.showModal()
  });
</script>
