---
import Button1 from "../../../../../components/atomos/Button1.astro";
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import ContenedorAtencion from "../../../../../components/moleculas/ContenedorAtencion.astro";
import ContenedeorModal from "../../../../../components/organismo/ContenedeorModal.astro";
import FormularioDiagnosticos from "../../../../../components/organismo/FormularioDiagnosticos.astro";
import FormularioMedicamentosAgregar from "../../../../../components/organismo/FormularioMedicamentosAgregar.astro";
import MedicamentosAtencion from "../../../../../components/organismo/MedicamentosAtencion";
import ConfeccionTablaMedicamentos from "./ConfeccionTablaMedicamentos";
import ModalMedicamentos from "./ModalMedicamentos.astro";

const { dataIds, isExistMedicamentos } = Astro.props;
---

<ContenedorTitleBotonera>
  <h2 class="text-lg font-semibold">Medicamentos</h2>
<ModalMedicamentos>
  <MedicamentosAtencion isExistMedicamentos={isExistMedicamentos} client:load/>
</ModalMedicamentos>
</ContenedorTitleBotonera>
<ConfeccionTablaMedicamentos isExistMedicamentos={isExistMedicamentos}  client:load/>

<script>
  import {
    atencion,
    dataFormularioContexto,
  } from "../../../../../context/store";
  import { showToast } from "../../../../../utils/toast/toastShow";
  const btnModal = document.getElementById("modal-medicamentos");

  btnModal?.addEventListener("click", () => {
    const modal = document.getElementById(`dialog-modal-medicamentos`);
    dataFormularioContexto.set({});
    modal.showModal();
    // e.showModal()
  });
</script>
