---
import ContenedorAtencion from "../../../../../components/moleculas/ContenedorAtencion.astro";


const { dataIds, isExistHC} = Astro.props;
// console.log('estoy en motivo consulta',isExistHC)
---

<ContenedorAtencion
  idButton="guardarMotivo"
  labelButton="guardar"
  labelH3="motivo de consulta"
>
  <form
    action=""
    class="flex-1 w-full h-full flex items-stretch justify-center"
    id="motivoConsulta"
  >
    <textarea
      class="w-full text-sm p-2 text-primary-texto outline-none ring-0"
      rows="10"
      
      name="motivoConsulta"
      id="formularioConsulta"
    >{isExistHC.motivoConsulta}
    </textarea>
  </form>
</ContenedorAtencion>

<script define:vars={{ dataIds }}>
  const btnEnviar = document.getElementById("guardarMotivo");
  const formulario = document.getElementById("motivoConsulta");

  btnEnviar.addEventListener("click", async (event) => {
    event.preventDefault(); // Evita el envío del formulario por defecto
    const formData = new FormData(formulario);
    formData.append("hcId", dataIds.hcId);
    formData.append("pacienteId", dataIds.pacienteId);
    formData.append("userId", dataIds.userId);
    const motivo = formData.get("motivoConsulta").trim();
    if (!motivo) {
        alert("Por favor, ingresa un motivo de consulta.");
        return;
    }
    try {
      const response = await fetch("/api/pacientes/atencion/motivoConsulta", {
        method: "POST",
        body: formData, // No necesitas establecer manualmente "Content-Type"
      });
      const result = await response.json();
      console.log(result);
    } catch (error) {
      console.error("Error al enviar el motivo de consulta:", error);
    }
  });
</script>
