---
import Button1 from "../../../../../components/atomos/Button1.astro";
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import H2 from "../../../../../components/atomos/H2.astro";
import ContenedorAtencion from "../../../../../components/moleculas/ContenedorAtencion.astro";

const { dataIds, isExistHC } = Astro.props;
---

<ContenedorAtencion
  idButton="guardarMotivo"
  labelButton="guardar"
  labelH3="motivo de consulta"
>
<ContenedorTitleBotonera>
  <H2>Motivo de consulta</H2>
  
</ContenedorTitleBotonera>
  <form
    action=""
    class="flex-1 w-full h-full flex items-start justify-center"
    id="motivoConsulta"
  >
  <textarea
  class="w-full text-sm p-2 text-primary-texto outline-none ring-0"
  rows="10"
  name="motivoConsulta"
  id="formularioConsulta"
  placeholder="Motivo de consulta y sintomas..."
>
{isExistHC.motivoConsulta}
</textarea>
  </form>
  <span
    id="notificacion"
    class="text-xs font-extralight tracking-wider px-2 animate-aparecer"></span>
</ContenedorAtencion>

<script >
  import { atencion } from "../../../../../context/store";
  import { showToast } from "../../../../../utils/toast/toastShow";
  let dataConsulta = { motivoConsulta: "", dataIds: {} };
  const btnEnviar = document.getElementById("guardarMotivo");
  const formulario = document.getElementById("motivoConsulta");
  const textarea = document.getElementById("formularioConsulta");
  let timeoutId;
  atencion.subscribe((state) => {
    dataConsulta.dataIds = state.dataIds;
  });

  textarea?.addEventListener("input", (e) => {
  const { value } = e.target;

  // Guardar el valor en localStorage
  localStorage.setItem("tratamiento", value);

  // Actualizar el estado en Nanostores
  atencion.set({
    ...atencion.get(),
    motivoConsulta: value,
  });
});
  // textarea.addEventListener("input", () => {
  //   document.getElementById("notificacion").textContent = "";
  //   clearTimeout(timeoutId); // Limpia cualquier timeout pendiente
  //   timeoutId = setTimeout(async () => {
  //     const motivo = textarea.value.trim();
 
  //     dataConsulta.motivoConsulta=motivo
  //       try {

  //         const response = await fetch(
  //           "/api/pacientes/atencion/motivoConsulta",
  //           {
  //             method: "POST",
  //             body: JSON.stringify(dataConsulta),
  //           }
  //         );

  //         if (response.ok) {
  //           document.getElementById("notificacion").textContent =
  //             "guardadado automaticamente...";
  //           console.log("Motivo guardado automáticamente");
  //         } else {
  //           console.error("Error al guardar automáticamente");
  //         }
  //       } catch (error) {
  //         console.error("Error al enviar el motivo de consulta:", error);
  //       }
  //     }, 20000); // Guarda automáticamente después de 1 segundo de inactividad
  //   })


  // btnEnviar.addEventListener("click", async (event) => {
  //   event.preventDefault(); // Evita el envío del formulario por defecto
  //   const motivo = textarea.value.trim();
  //   if (!motivo) {
  //     showToast("no hay data para guardar", {
  //       background: "bg-primary-400",
  //     });
  //     return;
  //   }
  //   dataConsulta.motivoConsulta=motivo
  //   try {
  //     const response = await fetch("/api/pacientes/atencion/motivoConsulta", {
  //       method: "POST",
  //       body:JSON.stringify(dataConsulta), // No necesitas establecer manualmente "Content-Type"
  //     });
  //     const result = await response.json();
  //     console.log(result);
  //     if(result.status===200){
  //       showToast('motivo de consulta guardado')
  //     }
  //   } catch (error) {
  //     console.error("Error al enviar el motivo de consulta:", error);
  //   }
  // });
</script>
