---
import ContenedorTitleBotonera from "../../../../../components/atomos/ContenedorTitleBotonera.astro";
import H2 from "../../../../../components/atomos/H2.astro";
import ContenedorAtencion from "../../../../../components/moleculas/ContenedorAtencion.astro";
import ContenedorMotivoInicial from "./ContenedorMotivoInicial.astro";

const {  isExistHC } = Astro.props;
---

<ContenedorAtencion
  idButton="guardarMotivo"
  labelButton="guardar"
  labelH3="motivo de consulta"
>
<!-- contenedor de motivo inicial -->
  <ContenedorMotivoInicial />
  <!-- contenedor de motivo de cosulta -->
  <ContenedorTitleBotonera>
    <H2>Motivo de consulta</H2>
  </ContenedorTitleBotonera>
  <form
    action=""
    class="flex-1 w-full h-full flex items-start justify-center"
    id="motivoConsulta"
  >
    <textarea
      class="w-full text-sm p-2 text-primary-texto outline-none ring-0"
      rows="10"
      name="motivoConsulta"
      id="formularioConsulta"
      placeholder="Motivo de consulta y sintomas..."
    >{isExistHC?.motivoConsulta}</textarea>
  </form>
  <span
    id="notificacion"
    class="text-xs font-extralight tracking-wider px-2 animate-aparecer"></span>
</ContenedorAtencion>

<script>
  import { atencion } from "../../../../../context/store";
  let dataConsulta = { motivoConsulta: "", dataIds: {} };
  const textarea = document.getElementById("formularioConsulta");
  atencion.subscribe((state) => {
    dataConsulta.dataIds = state.dataIds;
  });

  textarea?.addEventListener("input", (e) => {
    const { value } = e.target;

    // Actualizar el estado en Nanostores
    atencion.set({
      ...atencion.get(),
      motivoConsulta: value,
    });
  });
</script>
