---
import Button2 from '../../../components/atomos/Button2.astro';
import MainDashboard from '../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../components/layouts/LayoutDash.astro';
import ContenedorDiv1 from '../../../components/moleculas/ContenedorDiv1.astro';
import ContenedorModal from '../../../components/organismo/ContenedeorModal.astro';
import ContenedorTablaPaciente from './ContenedorTablaPaciente.astro';
import FiltroPacientes from './FiltroPacientes';
import FormularioPaciente from './FormularioPaciente.astro';
---

<LayoutDash title="Pacientes">
  <MainDashboard title="Pacientes" h1="Pacientes">
    <ContenedorDiv1>
      <div class="w-full flex justify-between items-center gap-4">
        <FiltroPacientes client:load />
        <ContenedorModal open="Crear" id="dialogPaciente">
          <FormularioPaciente />
        </ContenedorModal>
        <Button2>pdf</Button2>
      </div>
      <ContenedorTablaPaciente />
    </ContenedorDiv1>
  </MainDashboard>
</LayoutDash>
