---
import MainDashboard from "../../../components/atomos/MainDashboard.astro";
import ContenedorDiv1 from "../../../components/moleculas/ContenedorDiv1.astro";
import LayoutDash from "../../../components/layouts/LayoutDash.astro";
import FormularioBusqueda from "../../../components/organismo/FormularioDeBusqueda";
import ContenedorModal from "../../../components/organismo/ContenedeorModal.astro";
import FormularioCliente from "./FormularioPaciente.astro";
import Button2 from "../../../components/atomos/Button2.astro";
import ConfeccionTabla from "./ConfeccionTabla.astro";
import ContenedorTablaPaciente from "./ContenedorTablaPaciente.astro";
let user = {
id: '321321321' ,
  title: "CLIENTES",
  nombreApellido:"ramiro quiroga"
};
---

<LayoutDash>
  <MainDashboard title="Pacientes" h1="Pacientes">
    
    <ContenedorDiv1>
      <div class="w-full flex justify-between items-center gap-4">
        <FormularioBusqueda
          placeholder={"Busqueda de pacientes..."}
          client:load
        />
        <ContenedorModal open="Crear" id="dialogPaciente">
          <FormularioCliente user={user} />
        </ContenedorModal>
        <Button2>pdf</Button2>
      </div>
      <ContenedorTablaPaciente user={user}/>
    </ContenedorDiv1>
  </MainDashboard>
</LayoutDash>
