---
import db from '@/db';
import { pacientes } from '@/db/schema';
import { eq } from 'drizzle-orm';
import Button2 from '../../../components/atomos/Button2.astro';
import MainDashboard from '../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../components/layouts/LayoutDash.astro';
import ContenedorDiv1 from '../../../components/moleculas/ContenedorDiv1.astro';
import ContenedorModal from '../../../components/organismo/ContenedeorModal.astro';
import FormularioBusqueda from '../../../components/organismo/FormularioDeBusqueda';
import ContenedorTablaPaciente from './ContenedorTablaPaciente.astro';
import FormularioCliente from './FormularioPaciente.astro';
let user = {
  id: 'sakflsdk',
  title: 'CLIENTES',
  nombreApellido: 'ramiro quiroga',
};
const pacientesData = await db
  .select({
    id: pacientes.id,
    nombre: pacientes.nombre,
    apellido: pacientes.apellido,
    dni: pacientes.dni,
  })
  .from(pacientes)
  .where(eq(pacientes.userId, user.id));
---

<LayoutDash title="Pacientes">
  <MainDashboard title="Pacientes" h1="Pacientes">
    <ContenedorDiv1>
      <div class="w-full flex justify-between items-center gap-4">
        <FormularioBusqueda
          arrayABuscar={pacientesData}
          opcionesFiltrado={['nombre', 'apellido', 'dni']}
          placeholder={'Busqueda de pacientes...'}
          client:load
        />
        <ContenedorModal open="Crear" id="dialogPaciente">
          <FormularioCliente user={user} />
        </ContenedorModal>
        <Button2>pdf</Button2>
      </div>
      <ContenedorTablaPaciente user={user} />
    </ContenedorDiv1>
  </MainDashboard>
</LayoutDash>
