---
const {estilo}=Astro.props
---

<<<<<<< HEAD
<div class={`${estilo} h-full flex bg-white shadow-sm  p-3 rounded-lg border overflow-hidden items-start justify-normal`}>
=======
<div class={`${estilo} h-full flex items-start justify-normal`}>
>>>>>>> d01c59ff6fdf92946889071885401a6b84e0991d
    <slot/>
</div>