---
import { cn } from '@/utils/cn';

interface Props {
  id?: string;
  variant?: 'default' | 'outline' | 'ghost' | 'primary';
  rounded?: 'none' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | 'full';
  shadow?: 'none' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | 'inner';
  className?: string;
}
const { id, variant, rounded, shadow, className } = Astro.props;
const mergedClasses = cn(
  'flex items-start p-3 text-primary-texto w-full',
  variant,
  rounded,
  shadow,
  className
);
---

<div
  id={id}
  class={`${mergedClasses}  bg-white border--150 rounded-lg  flex items-start focus:border-primary-100 border justify-between shadow-sm text-primary-texto`}
>
  <div class="flex flex-col gap-y-2 items-start w-full justify-between">
    <slot />
  </div>
</div>
