---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div class="text-center text-red-500 text-xl font-bold py-8">
  <p>{message}</p>
  <p class="text-lg text-gray-400 mt-2">Por favor, intente recargar la página.</p>
</div>
