---
const { title, dataIds, h1 } = Astro.props;
---

<main
  class="top-12 md:right-0 z-30 w-[91vw] bg-primary-bg-componentes rounded-tl-xl md:mb-16 overflow-hidden print:hidden flex flex-col items-center justify-center"
>
  {
    h1 && (
      <div class="w-full ">
        <h1 class="text-xl ml-6 font-semibold ">{h1}</h1>
      </div>
    )
  }
  <div
    class="w-full py-1 flex flex-col items-center justify- rounded-lg h-full"
  >
    <slot />
  </div>
</main>
