---
const { title, dataIds, h1, pacienteId } = Astro.props;

const { user, session } = Astro.locals;
---

<main
  id="mainDashboard"
  data-usisisi={user?.id}
  data-pasisisi={pacienteId ? pacienteId : 0}
  class="top-12 md:right-0 z-40 w-[92vw] rounded-tl-xl md:mb-16 print:hidden flex flex-col items-center justify-center"
>
  {
    h1 && (
      <div class="w-full ">
        <h1 class="text-xl ml-6 font-semibold text-primary-textoTitle ">{h1}</h1>
      </div>
    )
  }
  <div class="w-full py flex flex-col items-center justify- rounded-lg h-full">
    <slot />
  </div>
</main>
