---
const { title, dataIds } = Astro.props;
---

<main

  class="absolute top-10 md:right-0 z-50 w-[91vw] bg-primary-bg-componentes rounded-tl-xl border-1 border-primary-100/50 overflow-hidden print:hidden flex flex-col items-center justify-start"
>
  <header
    class="w-full h-14 bg-gradient-to-b from-primary-100/80 via-primary-100/40 to-transparent"
  >
    <h1 class="text-xl mt-2 font-semibold text-center">
      {title}
    </h1>
  </header>
  <div
    class="w-[98%] bg-primary-bg-componentes px-3 py-1 flex flex-col items-start justify-start rounded-lg h-full -translate-y-10"
  >
    <slot />
  </div>
</main>

