---
import TitleContenedorAtencion from "./TitleContenedorAtencion.astro";

interface StringProps{
    labelButton: "string",
    labelH3: "string"
}

const {labelButton, labelH3}=Astro.props as StringProps
---

<div
  class="bg-primary-bg-claro w-full rounded-lg border flex items-start justify-normal flex-col overflow-hidden shadow-sm"
>
<TitleContenedorAtencion labelButton={labelButton} labelH3={labelH3}/>
  <slot />
</div>
