---
import Button1 from "../atomos/Button1.astro";
import ContenedorTitleBotonera from "../atomos/ContenedorTitleBotonera.astro";
import H2 from "../atomos/H2.astro";
import TitleContenedorAtencion from "./TitleContenedorAtencion.astro";

interface StringProps{
    labelButton: string,
    labelH3: string,
    idButton:string
}

const {labelButton, labelH3,idButton}=Astro.props as StringProps
---

<div
  class=" w-full  flex items-start justify-normal flex-col "
>

  <slot />
</div>
