---
import Button2 from "../atomos/Button2.astro"
interface StringProps{
    labelButton: "string",
    labelH3: "string"
}

const {labelButton, labelH3}=Astro.props as StringProps
---

<div
class="w-full p-2 border-b border-gray-500/50 flex items-center justify-between"
>
<h3 class="text-xs font-semibold uppercase">{labelH3}</h3>
<Button2>{labelButton}</Button2>
</div>