---
import { DocumentosAdjuntosProps } from '../../types/index';
import Button1 from '../atomos/Button1.astro';
import ContenedorTitleBotonera from '../atomos/ContenedorTitleBotonera.astro';
import DivBox1 from '../atomos/DivBox1.astro';
import FormularioArchivosAdjuntos from '../organismo/FormularioArchivosAdjuntos';
import ContenedeorModal from './ContenedeorModal.astro';
import ContenedorTablaArchivosAdjuntos from './ContenedorTablaArchivosAdjuntos.astro';

const { pacienteId } = Astro.params;
const { documentos } = Astro.props as DocumentosAdjuntosProps;
---

<DivBox1>
  <ContenedorTitleBotonera>
    <h2 class="text-lg font-semibold">Arhivos Adjuntos</h2>
    <div class="flex items-center gap-2">
      <Button1>ver más</Button1>
      <ContenedeorModal label="agregar" title="Archivos Adjuntos" id="modal-agregar">
        <FormularioArchivosAdjuntos pacienteId={pacienteId} client:load />
      </ContenedeorModal>
    </div>
  </ContenedorTitleBotonera>
  <div class="overflow-x-auto w-full">
    <ContenedorTablaArchivosAdjuntos documentos={documentos} />
  </div>
</DivBox1>
