---
import MainDashboard from '@/components/atomos/MainDashboard.astro';
import type { Session, User } from 'lucia';
import ContenedorTitleBotonera from '../../../components/atomos/ContenedorTitleBotonera.astro';
import DivBox1 from '../../../components/atomos/DivBox1.astro';
import H2 from '../../../components/atomos/H2.astro';
import { getDashboardData } from '../../../services/dashboard.services';
import ContentedorStatsDash from './componente/ContentedorStatsDash';
import GraficoMotivosIniciales from './componente/GraficoMotivosIniciales.astro';
import GraficoUltimasAtenciones from './componente/GraficoUltimasAtenciones.astro';
import ListaDeEspera from './componente/ListaDeEspera.astro';
import PacienteList from './componente/PacienteList.astro';
const { user, session } = Astro.locals as { user: User; session: Session };
let errorData = false;
const data = await getDashboardData(user?.id, user.centroMedicoId);
// console.log('data dashboard', data);

//
---

<MainDashboard h1="Dashboard">
  <div class="flex flex-col gap-2 w-full">
    <ContentedorStatsDash data={data?.stats} client:load />

    <div class="flex md:flex-row flex-col justify-between items-start gap-2 w-full">
      <!-- ultimas atenciones -->
      <DivBox1 styleDiv="w-full ">
        <ContenedorTitleBotonera>
          <H2>Ultimas Atenciones</H2>
        </ContenedorTitleBotonera>
        <PacienteList ultimasAtenciones={data?.ultimasAtenciones} />
      </DivBox1>

      <!-- lista de espera -->
      <ListaDeEspera />

      <!-- graficos -->
      <div class="flex flex-col justify-normal items-stretch gap-3 w-full">
        <DivBox1 styleDiv="w-full -[30%]">
          <GraficoUltimasAtenciones data={data?.atencionesUlt7d} />
        </DivBox1>
        <DivBox1 styleDiv="w-full -[30%]">
          <GraficoMotivosIniciales data={data?.motivos} />
        </DivBox1>
      </div>
    </div>
  </div>
</MainDashboard>
