---
import LayoutDash from '@/components/layouts/LayoutDash.astro';
import MainDashboard from '@/components/atomos/MainDashboard.astro';
---

<LayoutDash title="Gestión de Datos">
  <MainDashboard title="Gestión de Datos" h1="Gestión de Datos">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Aquí podrás configurar la gestión de datos de la aplicación.</h2>
      <p>Contenido de la gestión de datos.</p>
    </div>
  </MainDashboard>
</LayoutDash>